body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #19A1AE;
    overflow: hidden;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 978px;
    height: 976px;
    position: absolute;

    border-radius: 50%;

    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    mix-blend-mode: normal;

    z-index: -1;
}

.circle.left {
    left: -10%;
    top: -40%;
    transform: rotate(-135deg);
    opacity: 0.5;
}

.circle.right {
    left: 50%;
    top: 50%;

    mix-blend-mode: normal;
    opacity: 0.25;
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}

section {
    width: 350px;
 }

.card-container {
    height: 374px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    z-index: 9999;

    background-color: #FFFFFF;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bold {
    font-weight: bold;
    color: #2E3349;
}

.regular {
    color: #6B7082;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1.5px;
}

.decor-block {
    height: 140px;
    background-image: url("../img/mini-circles.png");
    background-color: #41CBD3;
    z-index: -1;
    box-shadow: 0 25px 50px -20px rgba(21, 42, 123, 0.250328);
    border-radius: 15px 15px 0 0;
}

.avatar {
    height: 96px;
    width: 96px;

    position: absolute;
    left: calc(50% - 96px/2);
    top: calc(50% - 96px/2 - 47px);
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

.name-container {
    margin-top: 72px;
    height: 23px;
}

.name-container .regular.years,
.bold {
    font-size: 18px;
    line-height: 18px;
}

.name-container .regular.years {
    margin-left: 9px;
}

.regular.city {
    margin-top: 9px;
}

.divider {
    margin-top: 28px;
}

.divider {
    height: 1px;
    background: #E8E9EC;
}

dl {
    margin: 24px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    row-gap: 10px;
}

dd {
    margin: 0;
}

dd:nth-of-type(1) {
     grid-column: 1/1;
     grid-row: 1/1;
 }

dd:nth-of-type(2) {
    grid-column: 2/2;
    grid-row: 1/1;
}

dd:nth-of-type(3) {
    grid-column: 3/3;
    grid-row: 1/1;
}
dt:nth-of-type(1) {
    grid-column: 1/1;
    grid-row: 2/2;
}

dt:nth-of-type(2) {
    grid-column: 2/2;
    grid-row: 2/2;
}

dt:nth-of-type(3) {
    grid-column: 3/3;
    grid-row: 2/2;
}
